@model IEnumerable<RealEstateApp.Web.Models.OwnerModel>
@{
    ViewBag.Title = "Owners List";
}

<h2>@ViewBag.Title</h2>

<table class="table table-content table-striped table-responsive">
    <thead style="background-color:black;" class="text-white bac">
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Telephone
            </th>
            <th>
                <a href="@Url.Action("Create")" class="text-success text-decoration-none justify-content-center">
                    <i class="glyphicon glyphicon-plus-sign ml-2"></i>Create
                </a>
                @*@Html.ActionLink("Create", "Create")*@

            </th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var p in Model)
            {
                <tr>
                    <td>
                        @p.Name
                    </td>
                    <td>
                        @p.Email
                    </td>
                    <td>
                        @p.Tel.ToString("N0")
                    </td>
                    <td>
                        @Html.ActionLink("Edit | ", "Edit", new { Id = p.Id })
                        <a href="@Url.Action("Delete", new { Id = p.Id })" class="text-danger text-decoration-none justify-content-center">
                            <i class="glyphicon glyphicon-plus-trash"></i>Delete
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    <em>
                        Property not found !
                    </em>
                </td>
            </tr>
        }
    </tbody>
</table>

